.req-accepted-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 503px;
  height: 407px;
  background-color: #ffffff;
}

.req-accepted-container .btn {
  height: 50px;
  border: none;
  background: #e02b451a;
  width: 343px;
  color: #e02b45;
  font-weight: 700;
  margin-top: 20px;
}
