.container {
  display: flex;
  width: 100%;
  background-color: #e5e5e5;
  height: 100%;
  /* overflow:scroll; */
  /* white-space:nowrap; */
}

.all-bidding {
  background: #ffffff;
  width: 90%;
  height: 100vh;
  margin: auto auto;
  /* height: 100%; */
  overflow: scroll;
}

.bidding-head > h2 {
  margin-left: 95px;
  margin-top: 30px;
  color: #21334f;
}

.head-status {
  background: #fcc1341a;
  height: 42px;
  width: 1100px;
  margin: auto auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.head-status p {
  margin-left: 10px;
}

.bidding-children {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.bidding-children h3 {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 16px;
}

.bidding-children p {
  color: #21334f;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.btn-contain {
  flex-direction: column;
  margin: 0 auto;
}

.accept-req {
  background: #e02b451a;
  color: #e02b45;
  width: 100%;
  border: none;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

.decline-req {
  background: #ffffff;
  color: #21334f;
  width: 100%;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}

.bidding-accepted {
  display: none;
}
